.Navbar {
    @extend .row;
    background-color: #292b2c;
}

.Navbar > a {
    @extend .col-25;
    background-color: blue;
    text-align: center;
}

.Navbar > input {
    @include button-outline-variant(white);
}

.Navbar > button {
    color: white;
    border-radius: 5px;
}
